.emailform-root {
  background-color: purple;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chester {
  padding: 25px;
  background-color: rgba(255,255,255,0.85);
  border-radius: 10px;
  margin: 10px;
  max-width: 700px;
  flex-grow: 1;
  flex-basis: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.email-input > p, .code-input > p {
  margin: 5px 0;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

.send-date {
  margin: 5px 0;
}